<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">New Doctor</h4>
        <h6 class="card-subtitle">Update info</h6>
        <form
          [formGroup]="doctorForm"
          class="form-horizontal p-t-20"
          (ngSubmit)="saveDoctor()"
        >
          @if (currentDoctor) {
          <div class="form-group row">
            <label
              for="exampleInputuname3"
              class="col-sm-3 control-label"
            >
              Profile Picture
            </label>
            <div class="col-sm-9">
              <div class="input-group">
                <img
                  [src]="currentDoctor.img ?? '' | image : 'doctors'"
                  class="w140"
                  alt=""
                />
              </div>
            </div>
          </div>
          }
          <div class="form-group row">
            <label
              for="exampleInputuname3"
              class="col-sm-3 control-label"
            >
              Name*
            </label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  id="exampleInputuname3"
                  placeholder="Doctor's name"
                />
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label
              for="exampleInputEmail3"
              class="col-sm-3 control-label"
              >Hospital*</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <select
                  formControlName="hospital"
                  class="form-control"
                >
                  <option value="">Select an Hospital</option>
                  @for (hospital of hospitals; track $index) {
                  <option [value]="hospital.id">{{ hospital.name }}</option>
                  }
                </select>
              </div>
            </div>
          </div>

          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button
                [disabled]="doctorForm.invalid"
                type="submit"
                class="btn btn-success waves-effect waves-light"
              >
                <i class="fa fa-save"></i>
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  @if (currentHospital) {
  <div class="col-md-6 animated fast fadeIn">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Hospital</div>
        <div class="card-subtitle">{{ currentHospital.name }}</div>
        <img
          [src]="currentHospital.img ?? '' | image : 'hospitals'"
          alt=""
          class="img-thumbnail"
        />
      </div>
    </div>
  </div>
  }
</div>
